<div class="admin-orders-container">
  <h2><mat-icon>supervisor_account</mat-icon> Manage Orders</h2>

  <div class="filter-bar">
  <mat-form-field appearance="outline">
    <mat-label>Filter by Status</mat-label>
    <mat-select [(value)]="selectedStatus" (selectionChange)="filterOrders()">
      <mat-option value="">All</mat-option>
      <mat-option value="pending">Pending</mat-option>
      <mat-option value="shipped">Shipped</mat-option>
      <mat-option value="delivered">Delivered</mat-option>
      <mat-option value="cancelled">Cancelled</mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <mat-accordion *ngIf="filteredOrders.length; else noOrders">
    <mat-expansion-panel *ngFor="let order of filteredOrders ">
      <mat-expansion-panel-header>
       <mat-panel-title>Order #{{ order.id }}</mat-panel-title>
      <mat-panel-description>
        ₹{{ order.total }} —
        <span
          class="status-badge"
          [ngClass]="order.status.toLowerCase()"
          (click)="filterByBadge(order.status)"
          matTooltip="Click to filter {{ order.status }} orders"
        >
          {{ order.status }}
        </span>
      </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="order-details">
      <p><strong>Customer:</strong> {{ order.customerName }}</p>
      <p><strong>Address:</strong> {{ order.address }}</p>
      <p>
        <strong>Status:</strong>
        <span
          class="status-badge"
          [ngClass]="order.status.toLowerCase()"
          (click)="filterByBadge(order.status)"
        >
          {{ order.status }}
        </span>
      </p>
    </div>

      
    </mat-expansion-panel>
  </mat-accordion>

  <ng-template #noOrders>
    <div class="no-orders">
      <mat-icon>inbox</mat-icon>
      <p>No orders found.</p>
    </div>
  </ng-template>
</div>
