<mat-card class="signup-card">
  <h2>Signup</h2>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password" />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSignup()">Signup</button>

  <p>Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</mat-card>

